---
import { Image } from "astro:assets";
---

<footer>
  <a href="https://github.com/GountzJs" target="_blank">
    Hecho con <Image
      src="/images/ahri.png"
      width={55}
      height={55.5}
      alt="Corazón ahri"
    /> por Gountzjs
  </a>
</footer>

<style>
  footer {
    align-items: center;
    background: var(--primary);
    display: flex;
    justify-content: center;
    padding: 20px 15px;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }
  img {
    aspect-ratio: 16/9;
    margin-inline: 5px;
  }
</style>
